In [1]:
import pandas as pd
import numpy as np
from skimage.measure import label, regionprops

Method cleaningTable merupakan method utama yang berfungsi untuk membersihkan table excel

Nilai kembalian dari method ini adalah array dua dimensi. Dimensi menunjukkan sheet pada file excel, dimensi yang kedua menunjukkan tabel yang ada pada sheet tersebut

In [71]:
def cleaningTable(data_path):

    xl = pd.ExcelFile(data_path)
    res = len(xl.sheet_names)

    list_sheet = []

    #=========read excel file
    for i in xl.sheet_names:
          df = pd.read_excel(data_path, sheet_name=i, engine='openpyxl')
          list_sheet.append(df)

    #=========remove sheet kosong
    list_clean_sheet = []
    for i in list_sheet:
      size = i.shape
      if ((size[0] == 0) and (size[1] == 0)):
        continue
      else:
        list_clean_sheet.append(i)

    #========parsing table
    list_data = []
    for i in list_clean_sheet:
      list_data.append(parseTabel(i))

    #========remove None Row in table
    for i in list_data:  
      for index,y in enumerate(i):
        i[index] = removeNoneRow(y)
  

    #========delete those that are not tables
    list_clean_parsing = []
    for i in list_data:
      temporary = []
      for y in i :
        check = isItTable(y,1)
        if (check):
          temporary.append(y)
        else:
          continue
      list_clean_parsing.append(temporary)

    list_data_nonDuplicate = []
    for i in list_data:
      temporary = []
      counter2 = 0
      for y in range(len(i)):
        counter = 0
        list_answer = []
        
        while (counter <= (len(i)-1)):
          if (y != counter):
            if (similarityTable(i[y], i[counter]) == 1):
              if (checkSimilarityDataTable(i[y], i[counter])):
                list_answer.append(True)
              else:
                list_answer.append(False)
            elif (similarityTable(i[y], i[counter]) == 2):
              if (counter2 == 0):
                list_answer.append(False)
              else:
                list_answer.append(True)
              counter2 += 1
            else:
              list_answer.append(False)
          counter += 1

        if (True in list_answer):
          continue
        else:
          temporary.append(i[y])
      list_data_nonDuplicate.append(temporary)  
      
  
    for i in list_data_nonDuplicate:
      for index,y in enumerate(i):
        i[index] = removeTitle(y)
    
    list_table = []
    for i in list_data_nonDuplicate:
      temporary = []
      for y in i:
        table = np.array(y.T.reset_index().values.T.tolist())
        if (isItTable(table,1)):
          temporary.append(y)
      list_table.append(temporary)

    for i in list_table:
      for index,y in enumerate(i):
        i[index] = checkMergedCell(y)

    list_table_result = []
    for i in list_table:
      temporary = []
      for y in i:
        table = np.array(y.T.reset_index().values.T.tolist())
        if (isItTable(table,1)):
          temporary.append(y)
      list_table_result.append(temporary)
    #return list_clean_parsing

    #return list_data    
    
    #return list_data_nonDuplicate

    return list_table_result

    #return list_clean_parsing

Method parseTabel merupakan method untuk memprediksi tabel apa saja yang terdapat pada file excel tersebut. Library yang digunakan untuk memprediksi adalah skimage.measure

nilai kembaliannya berupa list yang berisi tabel-tabel setelah diparsing dalam bentuk data frame

In [75]:
def parseTabel(data):
    data_array = np.array(data.T.reset_index().values.T.tolist())
    #binary_rep = np.array(data_array.notnull().astype('int'))
    data_array_copy = data_array.copy()
    size = data_array.shape

    for i in range(size[0]):
      for y in range(size[1]):
        if (str(data_array[i,y]) == 'nan' or 'Unnamed' in str(data_array[i,y])):
          data_array[i,y] = 0
        else:
          data_array[i,y] = 1


    list_of_dataframes = []
    l = label(data_array)

    region = regionprops(l)
    
    #for i in region:
    #  print(i.bbox)

    for i in range(len(region)):
      firstRow = region[i].bbox[0]
      firstColumn = region[i].bbox[1]  

      if (i < (len(region) - 1)):
        secondRow = region[i+1].bbox[0]
        secondColumn = region[i+1].bbox[1]

        if (firstRow == secondRow):
          if (firstColumn == secondColumn):
            slice_data = data_array_copy[region[i].bbox[0]:region[i+1].bbox[2],region[i].bbox[1]:region[i+1].bbox[3]]
            list_of_dataframes.append(pd.DataFrame(slice_data[1:], columns = slice_data[0]))
          else:
            if (i < (len(region) - 2)):
              thirdRow = region[i+2].bbox[0]
              thirdColumn = region[i+2].bbox[1]
              if (thirdColumn == secondColumn and thirdRow == firstRow):
                slice_data = data_array_copy[region[i].bbox[0]:region[i+2].bbox[2],region[i].bbox[1]:region[i+2].bbox[3]]
                list_of_dataframes.append(pd.DataFrame(slice_data[1:], columns = slice_data[0]))
              else:
                slice_data = data_array_copy[region[i].bbox[0]:region[i+1].bbox[2],region[i].bbox[1]:region[i+1].bbox[3]]
                list_of_dataframes.append(pd.DataFrame(slice_data[1:], columns = slice_data[0]))
            else:
              slice_data = data_array_copy[region[i].bbox[0]:region[i+1].bbox[2],region[i].bbox[1]:region[i+1].bbox[3]]
              list_of_dataframes.append(pd.DataFrame(slice_data[1:], columns = slice_data[0]))
        else:
          slice_data = data_array_copy[region[i].bbox[0]:region[i].bbox[2],region[i].bbox[1]:region[i].bbox[3]]
          list_of_dataframes.append(pd.DataFrame(slice_data[1:], columns = slice_data[0]))
      else:
        slice_data = data_array_copy[region[i].bbox[0]:region[i].bbox[2],region[i].bbox[1]:region[i].bbox[3]]
        list_of_dataframes.append(pd.DataFrame(slice_data[1:], columns = slice_data[0]))

      #counter = i+1
      #while (counter < len(region)):
      #  startColumn_test = region[counter].bbox[1]
      #  lastRow_test = region[counter].bbox[2]
        
      #  if ((startColumn1 == startColumn_test) and (lastRow1 == lastRow_tes)):
      #    continue 
      #  else


    #for index,s in enumerate(regionprops(l)):
        
        #slice_data = data_array_copy[s.bbox[0]:s.bbox[2],s.bbox[1]:s.bbox[3]]
        #list_of_dataframes.append(pd.DataFrame(slice_data[1:], columns = slice_data[0]))
        #list_of_dataframes.append(data.iloc[s.bbox[0]:s.bbox[2],s.bbox[1]:s.bbox[3]])

    list_parseTable = []

    for i in list_of_dataframes:
        if (isItTable(i,1)):
            list_parseTable.append(i)
        else:
            continue

    list_cleanParsing = []
    for i in list_parseTable:
      if (removeNoneTable(i)):
        continue
      else:
        list_cleanParsing.append(i)

    return list_cleanParsing
    #return list_parseTable

Method isItTable merupakan method yang berfungsi untuk mengecek apakah tiap tabel hasil parsing pada method parsTabel merupakan benar-benar tabel atau bukan.

Logika yang digunakan untuk method ini adalah jika tabel tersebut memliki baris kurang dari atau sama dengan 1 maka otomatis bukan merupakan tabel. Lalu jika jika kondisi tersebut ternyata salah, maka kemudian akan dicek kembali. Jika baris dan kolom tabel tersebut kurang dari 2, maka otomatis bukan merupakan tabel

Nilai kembalian dari method ini adalah boolean, artinya jika setelah dicek ternyata bukan tabel, maka nilai kembaliannya adalah "False". Kemudian sebaliknya, jika setelah dicek ternyata merupakan tabel, maka nilai kembaliannya adalah "True"

In [4]:
def isItTable(data, maxRow):
    row,column = data.shape

    #if (row <= 1):
    #    return False
    #elif ():
      
    #else:
    #    if (row <= 2 and column <= 2):
    #        return False
    #    else:
    #        return True

    if (row < maxRow):
      return False
    elif (row <= 2 and column <= 2):
      return False
    else:
      return True

In [5]:
def getIndexColumn(data):
  
  list_index_column = []
  for i in data:
    try:
       a = int(i)
       list_index_column.append(a)
    except:
      continue
  #print(list_index_column)
  result = 0

  if (len(list_index_column) <= 1):
    result = False
    #print('False 1')
  else:
    different_value = list_index_column[1] - list_index_column[0]

    for i in range(len(list_index_column)-1):
      #print(i)
      check = (i+1) - i
      if (check != different_value):
        result = False
        #print('False 2')
        break
      else:
        if ((i+1) == len(list_index_column)-1):
          if (list_index_column[0] >= 1000):
            result = False
          else:
            result = True
          #print('True')
  
  return result

def getNoneRow(data):
  list_noneData = []
  counter = 0
  
  for i in data:
    if (str(i) == 'nan' or 'Unnamed' in str(i)):
      list_noneData.append(counter)
    counter += 1
  
  if (len(list_noneData) ==  len(data)):
    return True
  else:
    return False

def removeNoneRow(data):
  data_array = np.array(data.T.reset_index().values.T.tolist())
  data_result = []

  for i in range(len(data_array)):
    if (getNoneRow(data_array[i,:]) or getIndexColumn(data_array[i,:])):
      #print('halo')
      continue
    else:
      data_result.append(data_array[i,:])

  result = np.array(data_result)

  return pd.DataFrame(result[1:], columns = result[0])

In [74]:
def removeNoneTable(table):
  data_array = np.array(table.T.reset_index().values.T.tolist())

  row = data_array.shape[0]
  column = data_array.shape[1]

  counter = 0
  for i in range(row):
    for y in range(column):
      if (data_array[i,y] == None or data_array[i,y] == 'NaN' or data_array[i,y] == 'nan' or data_array[i,y] == 'None' or 'Unnamed' in data_array[i,y]):
        counter += 1
  
  if (counter == (row*column)):
    return True
  else:
    return False

Method checkSimilarityDataTable dan similarityTable merupakan method untuk membandingkan antara dua tabel apakah sama atau tidak. Hal ini dilakukan untuk mengatasi masalah ketika menjalankan method parseTabel, karena bisa saja ketika melakukan parsing, sebuah tabel bisa saja dipisah menjadi 2 tabel

In [6]:
def checkSimilarityDataTable(table1, table2):
  np_array1 = np.array(table1.T.reset_index().values.T.tolist())
  np_array2 = np.array(table2.T.reset_index().values.T.tolist())

  rowSize1 = np_array1.shape[0]
  columnSize1 = np_array1.shape[1]
  rowSize2 = np_array2.shape[0]
  columnSize2 = np_array2.shape[1]
  
  number_true_value = 0
  counter = 0
  for i in range(rowSize1):
    for j in range(columnSize1):
      loc = np.where(np_array2 == np_array1[i,j])
      if (len(loc[0]) != 0):
        #print('True')
        counter += 1

  result = counter / (rowSize1*columnSize1)
  if (result == 1):
    return True
    #print('True')
  else: 
    return False
    #print('False')

def similarityTable(table1, table2):
  #print("HALO HALO HALO")
  np_array1 = np.array(table1.T.reset_index().values.T.tolist())
  np_array2 = np.array(table2.T.reset_index().values.T.tolist())

  check1 = 0
  check2 = 0

  rowSize1 = np_array1.shape[0]
  columnSize1 = np_array1.shape[1]
  rowSize2 = np_array2.shape[0]
  columnSize2 = np_array2.shape[1]

  #===== check table1 in table2
  if (np_array2.shape[0] >= np_array1.shape[0]):
    if (np_array1.shape[1] > np_array2.shape[1]):
      check1 = 0
      #print("hai")
    elif ((np_array1.shape[1] == np_array2.shape[1]) and (np_array1.shape[0] == np_array2.shape[0])):
      if  (checkSimilarityDataTable(table1, table2)):
        check1 = 2
      else:
        check1 = 0
    else:
      #print("test")
      startValue = np_array1[0,0]
      loc = np.where(np_array2 == startValue)
      for i in range(len(loc[0])):
        startRow = loc[0][i]
        startColumn = loc[1][i]
        selectedArray = np_array2[startRow:(startRow + rowSize1),startColumn:(startColumn + columnSize1)]
        rowSelectedArray = selectedArray.shape[0]
        columnSelectedArray = selectedArray.shape[1]        
        if ((rowSize1 == rowSelectedArray) and (columnSize1 == columnSelectedArray)):
          #print('True')
          check1 = 1
        else:
          #print('halo')
          check1 = 0

  return check1
  #if (check1 == True):
  #  return True
  #else:
  #  return False
  #=========== check table2 in table1
  '''
  if (np_array1.shape[0] > np_array2.shape[0]):
    if (np_array2.shape[1] > np_array1.shape[1]):
      check2 = False
    else:
      startValue = np_array2[0,0]
      loc = np.where(np_array1 == startValue)
      for i in range(len(loc[0])):
        startRow = loc[0][i]
        startColumn = loc[1][i]
        selectedArray = np_array1[startRow:(startRow + rowSize2),startColumn:(startColumn + columnSize2)]
        #print(selectedArray)
        rowSelectedArray = selectedArray.shape[0]
        columnSelectedArray = selectedArray.shape[1]        
        if ((rowSize2 == rowSelectedArray) and (columnSize2 == columnSelectedArray)):
        #print('True')
          check2 = True
        else:
        #print('False')
          check2 = False
  
  if (check1 == False):
    if (check2 == False):
      #print("nggak ada yang sama")
      return 1
    else:
      #print("tabel 2 masuk tabel 1")
      return 2
  else:
    #print("tabel 1 masuk tabel 2")
    return 3
  '''

Mehtod removeTitle merupakan method yang berfungsi untuk mendeteks judul yang ada pada tabel tersebut kemudian menghapusnya

In [9]:
def removeTitle(data):
  result = []
  data_array = np.array(data.T.reset_index().values.T.tolist())
  checkTitle, listIndex, data = 0, 0, 0

  counter = 0
  for i in range(len(data_array)):
    #print(counter)
    checkTitle,listIndex = checkNoneData(data_array[i,:], (len(data_array[i,:])))

    #if (i != (len(data_array)-1)):
    if (checkTitle):
      if (i < (len(data_array)-1)):
        if (matchingRow(data_array[i,:], data_array[i+1,:], len(data_array[i,:])-1)):
          if (checkTitle):
            continue
          else:
            result.append(data_array[i,:])
        else:
          if (i < (len(data_array)-2)):
            if (matchingRow3Layer(data_array[i,:], data_array[i+1,:], data_array[i+2,:], len(data_array[i,:])-1)):
              if (checkTitle):
                continue
              else:
                result.append(data_array[i,:])
            else:
              if (i < (len(data_array)-3)):
                if (matchingRow4Layer(data_array[i,:], data_array[i+1,:], data_array[i+2,:], data_array[i+3,:], len(data_array[i,:])-1)):
                  if (checkTitle):
                    continue
                  else:
                    result.append(data_array[i,:])
              else:
                continue
          else:
            continue
      else:
        continue
    else:
      result.append(data_array[i,:])
    counter += 1

  return pd.DataFrame(result[1:], columns = result[0])

def checkNoneData(listData, length):
  counter = 0
  list_index = []
  data = 0

  list_index_nonNull = []
  for i in listData:
    if (str(i) == 'nan' or 'Unnamed' in str(i)):
      list_index.append(counter)
    else:
      list_index_nonNull.append(counter)
    counter += 1

  booleanResult = 0
  
  if ((length-1) in list_index and len(listData) > 3):
    if ((list_index[-1]-list_index[0]+1) == len(list_index) and (len(list_index_nonNull) > 1)):
      booleanResult = False
    elif ((list_index[-1]-list_index[0]+1) == len(list_index)):
      booleanResult = True
    else:
      booleanResult = False
  elif ((0 in list_index) and len(listData) > 3):
    if ((list_index[-1]-list_index[0]+1) == len(list_index) and (len(list_index_nonNull) == 1)):
      booleanResult = True
    else:
      booleanResult = False
  else:
   booleanResult = False
  
  return booleanResult, list_index

Method checkMergeCell merupakan method yang berfungsi untuk menghapus adanya merge cell pada tabel

Pada method ini, merged cell yang bisa diatasi adalah cell yang ter-merge 1-3 baris, untuk cell yang ter-merge lebih dari 3 baris belum bisa di atasi

In [60]:
def checkMergedCell(data):
  data_array = np.array(data.T.reset_index().values.T.tolist())

  #print(matchingRow(data_array[0,:],data_array[1,:]))

  if (len(data_array) > 2):
    if (matchingRow(data_array[0,:],data_array[1,:], len(data_array[0,:])-1)):
    #print(1)
      data_array[0,:] = renameHeader(data_array[0,:], data_array[1,:])
    
      data_result = np.delete(data_array,1,0)
      return pd.DataFrame(data_result[1:], columns = data_result[0])
    else:
      if (len(data_array) > 3):
        if (matchingRow3Layer(data_array[0,:],data_array[1,:], data_array[2,:], len(data_array[0,:])-1)):
    #print(2)
          data_array[1,:] = renameHeader(data_array[1,:], data_array[2,:])
          data_array[0,:] = renameHeader(data_array[0,:], data_array[1,:])
    
          data_result = np.delete(data_array,[1,2],0)
          return pd.DataFrame(data_result[1:], columns = data_result[0])
        else:
          if (len(data_array) > 4):
            if (matchingRow4Layer(data_array[0,:],data_array[1,:], data_array[2,:], data_array[3,:], len(data_array[0,:])-1)):
    #print(2)
              data_array[2,:] = renameHeader(data_array[2,:], data_array[3,:])
              data_array[1,:] = renameHeader(data_array[1,:], data_array[2,:])
              data_array[0,:] = renameHeader(data_array[0,:], data_array[1,:])
    
              data_result = np.delete(data_array,[1,2,3],0)
              return pd.DataFrame(data_result[1:], columns = data_result[0])
            else:
              if (checkColumnMerge(data_array[0,:],data_array[1,:])[0]):
                index = checkColumnMerge(data_array[0,:],data_array[1,:])[1]
                counter = 1
                for i in index:
                  data_array[0,i] = str(data_array[0,i-1]) + "_" + str(counter)
                  counter += 1
    
                data_array[0,:] = renameHeader(data_array[0,:], data_array[1,:])
    
                data_result = np.delete(data_array,1,0)
                return pd.DataFrame(data_result[1:], columns = data_result[0])
              else: 
                return pd.DataFrame(data_array[1:], columns = data_array[0])
          else:
            return pd.DataFrame(data_array[1:], columns = data_array[0])
      else:
        return pd.DataFrame(data_array[1:], columns = data_array[0])
  else:
    #print(3)
    return pd.DataFrame(data_array[1:], columns = data_array[0])

def checkColumnMerge(data1, data2):
  None1, NonNull1 = getNoneIndex(data1)
  None2, NonNull2 = getNoneIndex(data2)

  list_index_noncover = []
  for i in None1:
    if (i in None2):
      list_index_noncover.append(i)
  
  index_merge = []
  for i in None1:
    if (i in NonNull2):
      continue
    else:
      index_merge.append(i)

  list_column_merge = []
  for i in index_merge:
    if (i in list_index_noncover):
      list_column_merge.append(i)

  if (len(list_column_merge) == 0):
    return False,0
  else:
    return True,list_column_merge

def matchingRow(data1, data2, last_index):
  None1, NonNull1 = getNoneIndex(data1)
  None2, NonNull2 = getNoneIndex(data2)
  list_boolean = []

  list_duplicate_index = []
  list_index_nonCover = []

  for i in NonNull1:
    if (i in NonNull2):
      list_duplicate_index.append(i)
  
  if (0 in list_duplicate_index or last_index in list_duplicate_index):
    list_boolean.append(False)
  else:
    for i in list_duplicate_index:
      if (i == 0):
        if ((i+ 1) in list_duplicate_index):
          list_boolean.append(False)
        else:
          list_boolean.append(True)
      elif (i == last_index):
        if ((i-1) in list_duplicate_index):
          list_boolean.append(False)
        else:
          list_boolean.append(True)
      else:
        if ((i-1) in list_duplicate_index or (i+1) in list_duplicate_index):
          list_boolean.append(False)
        else:
          list_boolean.append(True)
  
  cek1 = 0
  for i in None1:
    if (i in NonNull2):
      cek1 = True
    else:
      cek1 = False
  
  if (cek1):
    list_boolean.append(True)
  else:
    list_boolean.append(False)
  
  for i in None2:
    if (i in NonNull1):
      cek1 = True
    else:
      cek1 = False
  
  if (cek1):
    list_boolean.append(True)
  else:
    list_boolean.append(False)

  if (False in list_boolean):
    return False
  else:
    return True  

def matchingRow3Layer(data1, data2, data3, last_index):
  None1, NonNull1 = getNoneIndex(data1)
  None2, NonNull2 = getNoneIndex(data2)
  None3, NonNull3 = getNoneIndex(data3)  

  list_index_duplicate = []
  list_index_nonCover = []
  list_boolean = []

  for i in None2:
    if (i in None3):
      list_index_nonCover.append(i)

  for i in NonNull2:
    if (i in NonNull3):
      list_index_duplicate.append(i)

  list_index_inAllThree = []
  for i in list_index_duplicate:
    if (i in NonNull1):
      list_index_inAllThree.append(i)

#===== cek matching 2 row bawah
  if (0 in list_index_duplicate or last_index in list_index_duplicate):
    list_boolean.append(False)
  else:
    for i in list_index_duplicate:
      if (i == 0):
        if ((i+ 1) in list_index_duplicate):
          list_boolean.append(False)
        else:
          list_boolean.append(True)
      elif (i == last_index):
        if ((i-1) in list_index_duplicate):
          list_boolean.append(False)
        else:
          list_boolean.append(True)
      else:
        if ((i-1) in list_index_duplicate or (i+1) in list_index_duplicate):
          list_boolean.append(False)
        else:
          list_boolean.append(True)

#====== cek matching 3 row bawah
  if (0 in list_index_inAllThree or last_index in list_index_inAllThree):
    list_boolean.append(False)
  else:  
    for i in list_index_inAllThree:
      if (i == 0):
        if (i+1 in list_index_inAllThree):
          list_boolean.append(False)
        else:
          list_boolean.append(True)
      elif (i == last_index):
        if (i-1 in list_index_inAllThree):
          list_boolean.append(False)
        else:
          list_boolean.append(True)
      else:
        if (i-1 in list_index_inAllThree  or i+1 in list_index_inAllThree):
          list_boolean.append(False)
        else:
          list_boolean.append(True)
  
  for i in list_index_nonCover:
    if (i in None1):
      list_boolean.append(False)
    else:
      list_boolean.append(True)
  
  if (False in list_boolean):
    return False
  else:
    return True

def matchingRow4Layer (data1, data2, data3, data4, last_index):
  None1, NonNull1 = getNoneIndex(data1)
  None2, NonNull2 = getNoneIndex(data2)
  None3, NonNull3 = getNoneIndex(data3)
  None4, NonNull4 = getNoneIndex(data4)

  list_index_duplicate = []
  list_index_inAllThree = []
  list_index_inAllFour = []
  list_index_nonCover1 = []
  list_index_nonCover2 = []
  list_boolean = []
  
  for i in None3:
    if (i in None4):
      list_index_nonCover1.append(i)    

  for i in list_index_nonCover1:
    if (i in None2):
      list_index_nonCover2.append(i)
  
  for i in NonNull3:
    if (i in NonNull4):
      list_index_duplicate.append(i)

  for i in list_index_duplicate:
    if (i in NonNull2):
      list_index_inAllThree.append(i)

  for i in list_index_inAllThree:
    if (i in NonNull1):
      list_index_inAllFour.append(i) 

#===== cek matching 2 row bawah
  if (0 in list_index_duplicate or last_index in list_index_duplicate):
    list_boolean.append(False)
  else:
    for i in list_index_duplicate:
      if (i == 0):
        if ((i+ 1) in list_index_duplicate):
          list_boolean.append(False)
        else:
          list_boolean.append(True)
      elif (i == last_index):
        if ((i-1) in list_index_duplicate):
          list_boolean.append(False)
        else:
          list_boolean.append(True)
      else:
        if ((i-1) in list_index_duplicate or (i+1) in list_index_duplicate):
          list_boolean.append(False)
        else:
          list_boolean.append(True)

#====== cek matching 3 row bawah
  if (0 in list_index_inAllThree or last_index in list_index_inAllThree):
    list_boolean.append(False)
  else:  
    for i in list_index_inAllThree:
      if (i == 0):
        if (i+1 in list_index_inAllThree):
          list_boolean.append(False)
        else:
          list_boolean.append(True)
      elif (i == last_index):
        if (i-1 in list_index_inAllThree):
          list_boolean.append(False)
        else:
          list_boolean.append(True)
      else:
        if (i-1 in list_index_inAllThree  or i+1 in list_index_inAllThree):
          list_boolean.append(False)
        else:
          list_boolean.append(True)

#====== cek matching 4 row bawah
  if (0 in list_index_inAllFour or last_index in list_index_inAllFour):
    list_boolean.append(False)
  else:  
    for i in list_index_inAllFour:
      if (i == 0):
        if (i+1 in list_index_inAllFour):
          list_boolean.append(False)
        else:
          list_boolean.append(True)
      elif (i == last_index):
        if (i-1 in list_index_inAllFour):
          list_boolean.append(False)
        else:
          list_boolean.append(True)
      else:
        if (i-1 in list_index_inAllFour or i+1 in list_index_inAllFour):
          list_boolean.append(False)
        else:
          list_boolean.append(True)

  for i in list_index_nonCover2:
    if (i in None1):
      list_boolean.append(False)
    else:
      list_boolean.append(True)

  if (False in list_boolean):
    return False
  else:
    return True  

def getNoneIndex(listData):
  counter = 0 
  listIndexNone = []
  listIndexNonNull = []
  for i in listData:
    if (str(i) == 'nan' or 'Unnamed' in str(i)):
      listIndexNone.append(counter)
    else:
      listIndexNonNull.append(counter)
    counter += 1
  return listIndexNone, listIndexNonNull

def renameHeader(data1, data2):
  indexNull1, indexNonNull1 = getNoneIndex(data1)
  indexNull2, indexNonNull2 = getNoneIndex(data2)

  duplicate_index = []
  data = data1.copy()

  for i in indexNonNull1:
    if (i in indexNonNull2):
      duplicate_index.append(i)

  for i in range(len(data1)):
    if (i in duplicate_index):
      data[i] = str(data2[i]) + "(" + str(data1[i]) + ")"
    elif ((i in indexNull1) and (i in indexNull2)):
      continue
    elif (i in indexNull1):
      index = findIndexMergedCell(duplicate_index, i)
      #print(index)
      data[i] = str(data2[i]) + "(" + str(data1[index]) + ")"
    else:
      continue
  
  return data


def findIndexMergedCell(duplicateIndex, index):
  for i in range(len(duplicateIndex)):
    if (index == duplicateIndex[i]):
      return index
      break
    else:
      if (i != (len(duplicateIndex)-1)):
        if (index > duplicateIndex[i] and index < duplicateIndex[i+1]):
          return duplicateIndex[i]
        else:
          continue
      else:
        if (index > duplicateIndex[i]):
          return duplicateIndex[i]

In [76]:
coba = cleaningTable('/content/data cek marge 4 layer.xlsx')
coba[0][0]

    Kabupaten/Kota  ... mar(2014)(Kebakaran)(Jumlah kerusakan hutan berdas
0  D.I. Yogyakarta  ...                                              26,08
1       Kulonprogo  ...                                                  -
2           Bantul  ...                                               0,40
3      Gunungkidul  ...                                              25,68
4           Sleman  ...                                                  -
5       Yogyakarta  ...                                                  -

[6 rows x 28 columns]

In [73]:
#tes = np.array(coba[3][1].T.reset_index().values.T.tolist())

#for i in range(tes.shape[0]):
#  for y in range(tes.shape[1]):
#    if (tes[i,y] == None or tes[i,y] == 'NaN' or tes[i,y] == 'nan'):
#      continue
#    else:
#      print('halo')
#matchingRow3Layer(tes[0,:], tes[1,:], tes[2,:])
#tes = similarityTable(coba[0][0], coba[0][1])
#print(tes)
print(removeNoneTable(coba[0][0]))

IndexError: ignored

In [ ]:
'''
#cek = cleaningTable("/content/DATA_DUMMY_Productivity_BC_as_of_30_Nov_2020.xlsx")
#cek[0][2]  
'''

'\n#cek = cleaningTable("/content/DATA_DUMMY_Productivity_BC_as_of_30_Nov_2020.xlsx")\n#cek[0][2]  \n'

In [ ]:
df = pd.read_excel('/content/DATA DUMMY INCENTIVE 2020 - TN SHN PSS - As of November 2020.xlsx')
df.head()

Empty DataFrame
Columns: []
Index: []

array([], shape=(0, 0), dtype=float64)